@model Piizzapan.EntityLayer.Concrete.ContactUs
@{
    ViewData["Title"] = "UpdateContactUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" style="background-color : #dedee5" />
    <br />
    <label>Adres</label>
    <input type="text" asp-for="Address" class="form-control" style="background-color : #dedee5" />
    <br />
    <label>Telefon</label>
    <input type="text" asp-for="Phone" class="form-control" style="background-color : #dedee5" />
    <br />
    <label>EMail</label>
    <input type="text" asp-for="Mail" class="form-control" style="background-color : #dedee5" />
    <br />
    <label>Çalışma saatler</label>
    <input type="text" asp-for="StartEndDate" class="form-control" style="background-color : #dedee5" />
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>

